@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio - Education</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <main>
        <section id="courses">
            <h2>Courses</h2>
            <ul>
                <li>
                    <h3>Grade 9 and 10</h3>
                    <p>Computer science</p>
                    <p>Mathematics</p>
                    <p>chemistry</p>
                    <p>physics</p>
                    <p>english</p>
                    <p>Urdu</p>
                    <p>Islamiat</p>
                    <p>Pakistan studies</p>
                </li>
                <li>
                    <h3>Grade 11 and 12</h3>
                    <p>Computer science</p>
                    <p>Mathematics</p>
                    <p>chemistry</p>
                    <p>physics</p>
                    <p>english</p>
                    <p>Urdu</p>
                    <p>Islamiat</p>
                    <p>Pakistan studies</p>
                </li>
                <li>
                    <h3>University 1st year</h3>
                    <p>programming fundamentals</p>
                    <p>Applied physics</p>
                    <p>English comprehension</p>
                    <p>calculus</p>
                    <p>ICT</p>
                    <p>OOP</p>
                    <p>COAL</p>
                    <p>data structure</p>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>