@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="C:\Users\Asus\source\repos\devops_A1\Pages\StyleSheet.css" rel="stylesheet" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
    </header>
    <main>
        <section id="intro">
            <h2>About Me</h2>
            <p>Hello, my name is umair shah. I am a student of computer science  at FAST university karachi. I love to develop applications.</p>
        </section>
    </main>
</body>
</html>